<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sacrifices to de Loa of Loot, Mon">
    <meta name="author" content="Eris-Area52">
    <link rel="icon" type="image/x-icon" href="<%= static_path(@conn, "/images/favicon.jpg") %>" >

    <meta property="og:title" content="Loa of Loot Sacrifices">
    <meta property="og:description" content="Sacrifices to de Loa of Loot, Mon">
    <meta property="og:image" content="<%= static_path(@conn, "/images/loa_of_loot.jpg") %>">
    <meta property="og:url" content="<%= static_path(@conn, "/") %>">


    <title>Sacrifice Leaderboard</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <%= render LoaOfLootWeb.NavView, "index.html", conn: @conn %>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
